body {
  margin: 0;
  font-family: sans-serif;
}

#container {
  background: linear-gradient(rgba(0, 0, 0, 0.247), rgb(0, 0, 0)), url(../assets/images/background.jpg);
  background-size: cover;
  height: 600px;
  padding: 18px;
}

img {
  width: 140px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select {
  padding: 7px 17px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-right: 10px;
}

option {
  background-color: gray;
}

#btn-enter {
  padding: 7px 17px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  background-color: #e50914;
}

.main-title-section {
  font-size: 52px;
  margin-bottom: 15px;
}

.main-subtitle-section {
  font-size: 27px;
}

h2, h3 {
  font-weight: lighter;
}

main {
  text-align: center;
  color: white;
  margin-top: 150px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btn-start {
  background-color: #e50914;
  color: #fff;
  font-size: 22px;
  width: 150px;
  border: none;
}

input {
  height: 50px;
  width: 400px;
}

section {
  display: flex;
  border-top: 8px solid #222;
  padding: 50px 5%;
  background-color: #000;
  color: #fff;
}

#beneficies {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
}

#img-tv-section {
  height: 400px;
  width: 700px;
}

#img-mobile-section {
  height: 400px;
  width: 560px;
  margin-right: 180px;
}
